<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link  rel="stylesheet" href="~/boostrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/sweetalert2/sweetalert2.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/boostrap/js/bootstrap.min.js"></script>
    <script src="~/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
